{
    "extends": [
        "sandricoprovo/typescript"
    ],
    "rules": {
        "@typescript-eslint/indent": 0,
        "no-tabs": 0,
        "@typescript-eslint/require-await": 0
    },
    "parserOptions": {
        "parserOptions": [
            "./client/tsconfig.json",
            "./server/tsconfig.json"
        ]
    }
}